/* This file is for styling the html page content. */

/* 
    LCCC
    Filename: styles.css

    Author: Nathaniel Dixon, Mathew Hosier, Hunter Jackson
    Date: 9/19/2022
    References: HTML5 and CSS3 Illustrated, W3Schools
*/
/* Reset styles */
/*a, article, aside, nav, div, fieldset, figcaption, figure, footer, header, h1, h2,
input, label, legend, li, option, p, section, select, ul {
    border: 0;
    padding: 0;
    margin: 0;
} */

/* This is for generalizing default font sizes on the page. Will most likely 
be overrided. */
html {
    font-size: 20px;
}

body {
    margin: 4.5em;
    font-family: "Cinzel", "Times New Roman", Times, serif serif;
}
/* header styles */
header {
    background-color: grey;
    /*border: 2px solid black;*/
    padding: 1%;
    opacity: 50%;
}

header h1 {
    color: white;
    font-size: 1em;
    text-align: center;
    opacity: 1;
}

/* site navigation styles */
nav.sitenavigation {
    background-color: black;
    text-align: center;
    color: white;
}

nav.default-style {
    text-align: center;
    background-color: darkblue; 
    position: relative;
    margin-top: 0px;
    border: 4px solid black;
}

nav.default-style li {
    display: inline-block;
    list-style-type: none;
    font-size: 2em;
    margin-left: 1.2em;
}

/* This was the old nav bar name can use for references
nav.sitenavigation li {
    display: inline-block;
    line-height: 1.2em;
    margin-left: 2.0em;
}
*/

/* these need to be swapped to div selectors */
nav.form-options {
    background-color: white;
    text-align: left;
    color: black;
    float: left;
    /*border-right: 2px solid black;
    border-top: 2px solid black; */
    width: 25%;
}
nav.form-options li{
    display: block;
    line-height: 1.2em;
    margin-top: 2.0em;
    margin-right: 1.2em;
    padding: 3px 6px;
    text-align: left;
}
nav.form-options p{
    /*background-color: blue; */
    margin-left: 2.7em;
    color: black;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
}

/* link styles */
nav.default-style a:link {
    color: white;
}

nav.default-style a:visited {
    color: grey;
}

/* This is currently not in use prob will delete later
nav.form-options a:link {
    color: blue;
}
nav.form-options a:visited {
    color: black;
}
nav.form-options a:active {
    position: relative;
    top: 2px;
    left: 2px;
}
nav.form-options a:hover, nav.form-options a:focus {
    background-color: lightblue;
    border: 2px solid black;
    padding: 0.2em;
    border-radius: 0.8em;
}
*/

/* button styles */
nav.form-options button {
    display: block;
    margin: 1.8em 1.8em;
    width: 40%;
    padding: 3%;
    background-color: blueviolet;
    color: white;
}

nav.form-options button:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

nav.form-options button:active {
    position: relative;
    top: 2px;
    left: 2px;
}
nav.form-options p {
    font-weight: bold;
}

/*Do not believe this is in use. */
#sub-btn{
    display: block;
    margin: 0 auto;
    padding: 1%;
    width: 120px;
    margin-top: 1.5em;
}

#prev {
    clear: both;
}

/* form styles */
#polymer-data-form, #Mobile-phase-form, #stationary-phase-form, #condition-form, #investigation-form,
#upload-form {
    /*float: right;
    width: 65%; */
    display: none;
    background-color: white;
    /*bottom: 0%;*/
}
fieldset {
    border: none;
}
fieldset:first-of-type{
    box-shadow: 0px 0px 20px blueviolet;
    /*border: 4px solid black; */
}

fieldset:first-child{
    box-shadow: none;
    border: none;
}

label {
    text-shadow: 3px 2px 3px grey;
    font-weight: bold;
    font-size: 1.3em;
}

/*label input {
    box-shadow: 0px 0px 10px blueviolet;
} */
/*overriding base form styles */

/*The instruction is misspelled.*/
/* All of the forms follow the same styling */
#polymer-data-form p.form-instrucion, #Mobile-phase-form p.form-instrucion, #stationary-phase-form 
p.form-instrucion, #condition-form p.form-instrucion, #upload-form p.form-instrucion {
    text-align: center;
}

#polymer-data-form fieldset.polymerEntry label, #polymer-data-form fieldset.polymerEntry div.polySelector, 
#Mobile-phase-form fieldset.MobileEntry label, #stationary-phase-form fieldset.staionaryEntry label,
#condition-form fieldset.conditions label, #investigation-form fieldset.investigation label, 
#upload-form p.form-instrucion label {
    /*text-align: center;
    /*display: inline-block; */
    /*margin-top: 2.5em;
    margin-right: 60%; */
    /*margin: 0 auto; */
    font-size: 1.5em;
}
#polymer-data-form fieldset.polymerEntry label:nth-child(1), #polyName, #polymer-data-form fieldset.polymerEntry label:nth-child(5), #samp, 
#polymer-data-form fieldset.polymerEntry label:nth-child(6), #polySolv, #Mobile-phase-form fieldset.MobileEntry label:nth-child(1), #solv, 
#Mobile-phase-form fieldset.MobileEntry label:nth-child(2), #nonSolv, #stationary-phase-form fieldset.staionaryEntry label, 
#stationary-phase-form fieldset.staionaryEntry label input, #condition-form fieldset.conditions label, #condition-form fieldset.conditions label input,
#investigation-form fieldset.investigation label, #investigation-form fieldset.investigation label textarea, #upload-form fieldset.docUpload label,
#upload-form fieldset.docUpload label input{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.2em;
}

#polymer-data-form fieldset.polymerEntry label:nth-child(2),  #polymer-data-form fieldset.polymerEntry label:nth-child(3) {
    display: inline-block;
    text-align: center;
    margin: 2% 10%;

}

#polymer-data-form fieldset.polymerEntry label:nth-child(4), #mass {
    display: block;
    margin: 2% auto;
    text-align: center;
}

#upload-form fieldset.docUpload label input {
    margin-top: 2.5em;
}


#polymer-data-form fieldset.polymerEntry label input, #polymer-data-form fieldset.polymerEntry div.polySelector select,
#Mobile-phase-form fieldset.MobileEntry label input, #stationary-phase-form fieldset.staionaryEntry label input,
#condition-form fieldset.conditions label input, #investigation-form fieldset.investigation label textarea, 
#upload-form fieldset.docUpload label input{
    text-align: left;
    width: 25%;
    margin-top: 2.5em;
    padding: 1.5%;
}

p.form-instrucion {
    color: red;
}

/* these are for requirements */

/*p.form-instrucion:before, label.neededPoly:before, label.neededMobile:before {
    content: "* ";
    color: red;
} */

/*div.polySelector{
    border: 2px solid black;
} */

select {
    position: inline-block;
    width: 25%;
    margin-top: 0%;
}

#submit {
    border: none;
    padding: 0.4em 0.6em;
    background-color: blueviolet;
    font-size: 1.2em;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
}

#submit:hover {
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

#submit:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.submitbutton {
    text-align: center;
    border: none;
    margin-bottom: 0%;
    display: none;
} 

/* Feedback buttons */
.show {
    display: block;
    clear: both;
    text-align: right;
}

/* until we know the required fields */
.form-instrucion {
    display: none;
}

/* body and content styles */
body {
    background: rgb(93, 169, 255);
    background: url("chem.png");
}

main {
    float: right;
    width: 65%;
    background-color: lightblue;
}

main h2 {
    text-align: center;
    border: 2px solid black;
    background-color: blue;
    margin-top: 0px;   
}

h2 {
    color: black;
    font-size: 1.5em;
}

aside {
    float: left;
    width: 30%;
    background-color: lightblue;
}

aside h2 {
    text-align: center;
    border: 2px solid black;
    background-color: blue;
    margin-top: 0px;
}

article {
    clear: both;
    overflow: auto;
    /* background-color: lightblue; */
    position: relative;
    border: 2px solid black;
    background-color: white;
}

article h2 {
    text-align: center;

    /*border: 2px solid black; */
    /*background-color: blue; */
}
/* results styles */
.results {
    text-align: center;
    background-color: white;
}

/* table styles */
.poly-data-preview {
    display: none;
    border: 2px solid black;
}

table.poly-data-preview td, table.poly-data-preview tr {
    background-color: white;
    border: 2px solid black;
}

.show2 {
    display: block;
    clear: both;
}

table {
    border: 2px solid black;
    /*width: 100%; */
}

/* nav bar list styling */
nav.default-style li {
    display: inline-block;
    list-style-type: none;
}
/* nav bar box structure around list */
nav.default-style {
    text-align: center;
    background-color: blueviolet;
    position: relative;
    margin-top: 0%;
}
/* db cell format  TODO*/
/* this was changed during merge may not be correct */
table {
    text-align: center;
    background-color: white;
}

/* table styles */

table.db-table {
    background-color: grey;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
/*  db cell styling on search page*/
td, th {
    text-align: center;
    border: 1px solid black;
    /*border-spacing: 1px solid #999; */
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
}
/* cell grouping of rows for data */
thead, tbody {
    border: 2px solid black;
}
/* table data holding db data */
tr th {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

th, td {
    width: 10%;
    background-color: white;
}

td p {
    display: inline-block;
}

td {
    font-size: 1em;
}
div.poly-data-preview{
    clear: both;
    padding-top: 2%;
}

/* caption above db cell table on search page*/
caption {
    display: table-caption;
    padding: 1%;
    margin: 1em;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;

    border-bottom: 2px solid black;
}
/* content at bottom of page */
footer {
    text-align: center;
}

.content-border-container {
    border: 2px solid black;
}
/*
.grid-container {
    gap: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
}
*/

.grid-container > .btn-format {
    border: 1px solid black;
    background-color: blue;
    
}

.btn-format {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

/* button colors */
input:focus {
    background-color: lightblue;
}
