<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">


</head>
<body>
        
        <!--This is for the sign in portion of the modal sign up pop up-->
        <div class="sign-in-div">
            <img class="image-flask" src="bubble-2022490_960_720.png">
        <form class="sign-in-form" action="account.php">
            <h1> Sign In</h1>
            <div class="container">
            
                <label for="email"><b>Email</b></label>
        <input type="text" class="email-user" placeholder="Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" class="pass-user" placeholder="Password" name="password" required>

        <a style="position: relative; right: 60px;" href="#">Forgot your password</a>
        
        <p class="check-box">
            <input type="checkbox" id="remember-user">
            <label for="remember-user">Remember me</label>
        </p>
        
        <input type="submit" id="submit" value="Submit">
        </form>

        <hr>
        <p>Don't have an account? <a href="sign_up.php">Sign Up</a></p>

        <hr>
        <input type="button" value="Go Back" onclick="history.back()">
    </div>
    </div>

</body>
</html>