/* table styles */
table.db-table {
    margin: 0 auto;
    border: 5px solid #111;
    border-collapse: collapse;
    border-spacing: 0;
    width: 79%;
    clear: both;
    overflow: auto;
    margin-bottom: 32px;
}
/*  db cell styling on search page*/
td {
    text-align: center;
    border: 1px solid black;
    /*border-spacing: 1px solid #999; */
    margin: 1%;
    padding: 1%;
    font-size: 1.2em;
}
/* cell grouping of rows for data */
thead, tbody {
    border: 2px solid black;
}
/* table data holding db data */
tr.db-col > th {
    background-color: lightcyan;
    color: black;
    font-weight: bold;
}
/* search page - displays caption above db table */
caption {
    display: table-caption;
    padding: 1%;
    margin: 1em;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* search page - black border */
.page-border {
    border: 1px solid #111;
    background-color: white;
}
/*  */
.search-grid-container {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    padding: 10px;
}
/* search page - */
.search-box-col {
    display: inline-block;
    position: relative;
    left: 150%;
    
}
/*  */
.search-box {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 250%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  /* search page - positioning of "magnifying class" icon on search bar */
.search-icon {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 14px;
}
/* search page - positioning of search bar "exit" icon ***TODO fix JS*** */
.clear-icon {
    position: absolute;
    bottom: 32px;
    left: 34rem;
    width: 10px;
    cursor: pointer;
    /* visibility: hidden; FIX ME */
  }
  /*  */
#searchBoxBtn {
    position: relative;
    left: 272%;
    bottom: 27px;

}
/* search page - box focus/hover */
.search-box:hover, .search-box:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }
/* search page - left side rail */
.left-sidebar-grid-container {
    height: 582px;
    width: 150px;
    background-color: lightpink;
    display: inline-flex;
    position: absolute;
    bottom: 32px;
    padding: 5px 5px 5px 0;
}
.left-sidebar-grid-container label {
    margin-left: 30%;
}
.left-sidebar-grid-container label input {
    margin-top: 1.6em;
}
/* .checkbox-border {
    display: inline-block;
    margin-right: 20px;
    color: #111;
}

.min-max-box {
    border: 1px solid grey;
    border-radius: 5px;
    width: 10%;
    background-color: #f5f5f5;
} */

/* LAST WORKED ON = SIDEBAR: Trying to move the contexts to the left side. */
