/* Sign in */


.sign-in-div {
    width: 675px;
    box-shadow: 0 0 3px 0 rgb(106, 13, 212);
    background: 25px;
    padding: 75px;
    text-align: center;
    margin: 8% auto 0;
    background-color: rgb(255, 255, 255);
    display: block;
}

.sign-in-form {
    color: rgb(13, 13, 14);
    margin-bottom: 30px;
}

/* Sign up*/

.sign-up-div {
    width: 640px;
    box-shadow: 0 0 3px 0 rgb(106, 13, 212);
    background: 25px;
    padding: 75px;
    text-align: center;
    margin: 8% auto 0;
    background-color: rgb(255, 255, 255);
    display: block;
}

.sign_up-form {
    color: rgb(13, 13, 14);
    margin-bottom: 30px;
}

.nav-bar-sign {
    width: auto;
}
